.brand-logo {
  margin: 15px;
}

nav{
  height: 10vh;
  background-color: #2F4550;
}

#file-field{
  background-color: #B8DBD9;
}

.file-btn{
  background-color: #586F7C;
}

.table, .form{
  margin: 15px;
  padding: 15px;
}
